<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% if (locals.items) {%> <% items.map(function(item) { %>
      <li><%= item.name %> - <%= item.price %></li>
      <% }); %> <% } %>
    </ul>
    <!-- <a href="/create">Create a user</a> -->
  </body>
</html>
